/* Servicios ojo */
.services-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
  max-width: 900px;
  padding: 10px;
  flex-wrap: wrap;   /* Ojo, dejarlo así para el responsive */
}

.card-services {
  background: #F5E9DA !important;
  color: #000;
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0,0,0,.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  padding-top: 60px;
}

.card-services:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

.card-services h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.card-services p {
  font-size: 14px;
}

.btn-services {
  margin-top: 15px;
  background: #00B412 !important;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-services:hover {
  background: #7AD034 !important;
  color: white !important;
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  padding: 8px;
  margin: -45px auto 10px;
  display: block;
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
}

/* Código para el diseño responsive */
@media (max-width: 768px) {
  .card-services {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .card-services {
    width: 90%;
  }

  .avatar {
    width: 110px;
    height: 110px;
  }
}
.video-responsive {
  width: 100%;
  max-height: 420px;
  object-fit: cover; 
  border-radius: 8px;
}

main {
  margin: 1rem !important;
}
