.login-container{
    min-height: 80vh;
}

.login-card{
    width: 80%;
    max-width: 1000px;
    border-radius: 15px;
    overflow: hidden;
    background: white;
}

@media (max-width: 600px) {
    .login-card{
        width: 100%;
    }
}

.login-imagen{
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/login/campos-de-cultivo.jpg);
    background-size: cover;
    background-position: center;
}
