.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  max-width: 100%;
  margin: 40px auto;
  padding: 0 20px;
}

.card-img {
  padding: 1rem;
  border-radius: 16px;
  height: 250px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: transform .3s ease, box-shadow .3s ease;
}

.card-img img {
  width: 100%;
  height: 100%;
 
 }  

.card-img:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 18px 34px rgba(0,0,0,0.25);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.wrapped-title{
    background: #7ad03a;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top:2rem;
}

.product-card-agro{
height: 500px !important;
}


/* Estilo para cuando el botón está deshabilitado */
#btnConfirmarCompra:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Estilo para el mensaje de stock */
#stockInfo {
  font-size: 0.9rem;
  margin-top: 10px;
}

/* Cambiar color del input cuando supera el stock */
#cantidadModal:invalid {
  border-color: #dc3545;
}

#cantidadModal:focus:invalid {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}


/* Icono del carrito */
.badge-carrito {
  top: 3px;    
  transform: translateX(-50%);
  font-size: 0.7rem;
}

.subtitulo {
  font-size: 1.15rem;
  line-height: 1.8;
  text-align: justify;
}

.card-text {
  font-size: 1.10rem;
}
