.login-card {
    width: 80%;
    max-width: 1000px;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    display: flex;              
}

.col-md-6.p-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;     
}

.registro-imagen {
    width: 100%;
    height: 100%;                
    background-image: url(/assets/images/registro/l.jpg);
    background-size: cover;
    background-position: center;
}
